.lineListView {
    height: 100%;
    list-style: none;
    padding: 0px;
    margin: 0px;
    background: #FFFF;
    overflow: auto;

    &__item {
        h5 {
            margin-top: 0px;
        }
    }
}
