.MapView__marker {
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    box-sizing: border-box;
    position: fixed;
    top:0;
    left: 0;

    &--safe {
        background: green;
        border: 8px solid lighten(green, 30%);
    }

    &--warning {
        background: orange;
        border: 8px solid lighten(orange, 30%);
    }

    &--critical {
        background: red;
        border: 8px solid lighten(red, 30%);
    }
}
